NEXT_PUBLIC_ARK_API_KEY=mAlK9lbTtm7jgYTnr4lR87wQHK5BbddDaV5SvyEt
NEXT_PUBLIC_NETWORK_MAINNET=api.arkproject.dev
NEXT_PUBLIC_NETWORK_SEPOLIA=testnet-api.arkproject.dev
NEXT_PUBLIC_ALCHEMY_API_KEY=LSOcLfeCY8c4ovUNnDNX4YJhkMpsVD5F
